<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">

    <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="../static/bootstrap/js/jquery.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <style>
        .card-edc-logo,
        .card-std-img {
            width: 100%;
            height: auto;
            margin: auto;
        }

        .card-std-img {
            border-radius: 10px;
        }
    </style>

</head>

<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <div class="pt-4 px-4" id="content">

        <div class="row">
            <div class="col-6 border pr-4 py-4">
                <div class="row">
                    <div class="col-3"> <img class="card-edc-logo" src="../static/img/logo.png" alt=""></div>

                    <div class="col-6">
                        <ul class="list-unstyled text-center">
                            <li>
                                وزارة التربية والتعليم
                            </li>
                            <li>إدارة التعليم غير الحكومي</li>
                            <li>English Discussion Center</li>
                            <li>Id: 12345678</li>
                        </ul>
                    </div>

                    <div class="col-3">
                        <img class="card-std-img  rounded-3" src="../uploads/31908.png" alt="">
                    </div>
                </div>

                <div class="row px-5">
                    <table class="p-2 w-100">
                        <tr>
                            <td style="width: 30%">Name</td>
                            <td style="width: 70%">Mohammed Almujtaba</td>
                        </tr>
                        <tr>
                            <td style="width: 30%">Level</td>
                            <td style="width: 70%">7</td>
                        </tr>
                        <tr>
                            <td style="width: 30%">Time</td>
                            <td style="width: 70%">2:00 - 4:00</td>
                        </tr>
                        <tr>
                            <td style="width: 30%">Expiration Date</td>
                            <td style="width: 70%">12 - 02 - 2020</td>
                        </tr>
                        <tr class="">
                            <td style="width: 30%">Sign</td>
                            <td style="width: 70%"></td>
                        </tr>
                    </table>
                </div>

            </div>
            <div class="col-6 border">
                <div class="text-center py-4">
                    <div class="mx-auto w-50"> <img class="card-edc-logo" src="../static/img/logo.png" alt=""></div>
                </div>


            </div>
        </div>

        <div class="my-5"></div>

        <div class="row">
            <div class="col-6 border py-4">
                <div class="row">
                    <div class="col-3"> <img class="card-edc-logo" src="../static/img/logo.png" alt=""></div>

                    <div class="col-6">
                        <ul class="list-unstyled text-center">
                            <li>
                                وزارة التربية والتعليم
                            </li>
                            <li>إدارة التعليم غير الحكومي</li>
                            <li>English Discussion Center</li>
                            <li>Id: 12345678</li>
                        </ul>
                    </div>

                    <div class="col-3 pr-4">
                        <img class="card-std-img  rounded-3" src="../uploads/31908.png" alt="">
                    </div>
                </div>

                <div class="row px-5">
                    <table class="p-2 w-100">
                        <tr>
                            <td style="width: 30%">Name</td>
                            <td style="width: 70%">Mohammed Almujtaba</td>
                        </tr>
                        <tr>
                            <td style="width: 30%">Level</td>
                            <td style="width: 70%">7</td>
                        </tr>
                        <tr>
                            <td style="width: 30%">Time</td>
                            <td style="width: 70%">2:00 - 4:00</td>
                        </tr>
                        <tr>
                            <td style="width: 30%">Expiration Date</td>
                            <td style="width: 70%">12 - 02 - 2020</td>
                        </tr>
                        <tr class="">
                            <td style="width: 30%">Sign</td>
                            <td style="width: 70%"></td>
                        </tr>
                    </table>
                </div>

            </div>
            <div class="col-6 border">
                <div class="text-center py-4">
                    <div class="mx-auto w-50"> <img class="card-edc-logo" src="../static/img/logo.png" alt=""></div>
                </div>


            </div>
        </div>

        <div class="my-5"></div>

        <div class="row">
            <div class="col-6 border pr-4 py-4">
                <div class="row">
                    <div class="col-3"> <img class="card-edc-logo" src="../static/img/logo.png" alt=""></div>

                    <div class="col-6">
                        <ul class="list-unstyled text-center">
                            <li>
                                وزارة التربية والتعليم
                            </li>
                            <li>إدارة التعليم غير الحكومي</li>
                            <li>English Discussion Center</li>
                            <li>Id: 12345678</li>
                        </ul>
                    </div>

                    <div class="col-3">
                        <img class="card-std-img  rounded-3" src="../uploads/31901.png" alt="">
                    </div>
                </div>

                <div class="row px-5">
                    <table class="p-2 w-100">
                        <tr>
                            <td style="width: 30%">Name</td>
                            <td style="width: 70%">Hiba Imad</td>
                        </tr>
                        <tr>
                            <td style="width: 30%">Level</td>
                            <td style="width: 70%">7</td>
                        </tr>
                        <tr>
                            <td style="width: 30%">Time</td>
                            <td style="width: 70%">2:00 - 4:00</td>
                        </tr>
                        <tr>
                            <td style="width: 30%">Expiration Date</td>
                            <td style="width: 70%">12 - 02 - 2020</td>
                        </tr>
                        <tr class="">
                            <td style="width: 30%">Sign</td>
                            <td style="width: 70%"></td>
                        </tr>
                    </table>
                </div>

            </div>
            <div class="col-6 border">
                <div class="text-center py-4">
                    <div class="mx-auto w-50"> <img class="card-edc-logo" src="../static/img/logo.png" alt=""></div>
                </div>


            </div>
        </div>

        <div class="my-5"></div>

        <div class="row">
            <div class="col-6 border pr-4 py-4">
                <div class="row">
                    <div class="col-3"> <img class="card-edc-logo" src="../static/img/logo.png" alt=""></div>

                    <div class="col-6">
                        <ul class="list-unstyled text-center">
                            <li>
                                وزارة التربية والتعليم
                            </li>
                            <li>إدارة التعليم غير الحكومي</li>
                            <li>English Discussion Center</li>
                            <li>Id: 12345678</li>
                        </ul>
                    </div>

                    <div class="col-3">
                        <img class="card-std-img  rounded-3" src="../uploads/31908.png" alt="">
                    </div>
                </div>

                <div class="row px-5">
                    <table class="p-2 w-100">
                        <tr>
                            <td style="width: 30%">Name</td>
                            <td style="width: 70%">Mohammed Almujtaba</td>
                        </tr>
                        <tr>
                            <td style="width: 30%">Level</td>
                            <td style="width: 70%">7</td>
                        </tr>
                        <tr>
                            <td style="width: 30%">Time</td>
                            <td style="width: 70%">2:00 - 4:00</td>
                        </tr>
                        <tr>
                            <td style="width: 30%">Expiration Date</td>
                            <td style="width: 70%">12 - 02 - 2020</td>
                        </tr>
                        <tr class="">
                            <td style="width: 30%">Sign</td>
                            <td style="width: 70%"></td>
                        </tr>
                    </table>
                </div>

            </div>
            <div class="col-6 border">
                <div class="text-center py-4">
                    <div class="mx-auto w-50"> <img class="card-edc-logo" src="../static/img/logo.png" alt=""></div>
                </div>


            </div>
        </div>

    </div>
   
    <scrpit>
        
    </scrpit>
</body>

</html>